$purple1: #00C2ED;
$purple2: #0A55A1;
$font: 'DM Sans', sans-serif;

* {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header {
    z-index: 10000;
    position: fixed;
}

body {
    background-color: #0C182B;
}

a {
    color: #fff !important;
}

.image {
    width: 25rem;
    height: 25rem;
    object-fit: cover;
}

.blurred-bg {
  background: #0c182b86;
  backdrop-filter: blur(32px);
  z-index: 999;
}

h1 {
    font-family: $font !important;
    overflow-y: hidden;
}

.text-light-blue {
    color: #00C2ED;
}

.circle {
    width: 400px;
    height: 400px;
    border-radius: 100%;
    position: absolute;
    z-index: 1;
    filter: blur(60px);
}

.circle1 {
    background-color: $purple1;
    top: -30%;
    right: -10%;
}

.circle2 {
    background-color: $purple1;
    bottom: -30%;
    left: -10%;
}

.overlay {
    filter: blur(150px);
    overflow-y: hidden;
}